/* Layout */


/* This is for the header and the page layout
	This code is for all three pages.*/
*{
    box-sizing: border-box;
}

body{
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
line-height: 30px;
text-align: left;
width: 960px;

}

header{

    float: left;
    background-color:  black;
    color: white;
    height: 60px;
    width: 270px;
    margin-left: 125px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 20px;
}

 h1{
color:black;
border-bottom: 5px solid black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-top:2px;
padding-bottom: 4px;


}

nav{
widows: 270px;
float: right;
text-align: center;
margin-right: 120px;
}

ul{
    list-style: none;
    margin: 0;
    padding:0;
}
 li{
float: left;
width: 80px;
padding: 10px;
 }

 .border{
border-right: 1px solid black;
padding: 10px;
 }

 a:visited{
     color:black;
 }

 .container{


border-bottom: 5px solid black;
background-color: white ;
height: 60px;
 }

#innerContainer{
    width: 960px;
    height: auto;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 1%;
    background-color: white;
    border: solid 1px black;
}

 


 h1{

    height: auto;
	padding: 2px;

 }



 /* Picture on about me page */

img{
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  height: 250x;
  width: 200px;
}

/* portfolio section*/



.portfolio{
float: left;
padding-left: 3%;
padding-right: 1%;
padding-top: 3%;
background-clip: content-box;
position: relative;


}

/* Containers for the contact information */

.contactContainer, 
.portfolioContainer{
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    border: 2px solid black;

}
#message {
    height: 150px;
  }
  input{

    width: 100%;
	padding: 10px 20px 10px 10px;
    margin: 8px 0;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
}



footer{
position: fixed;
left:0;
bottom:0;
clear: both;
text-align: center;
padding-top: 30px;
padding-bottom: 10px;
color:white;
background-color: black; 
vertical-align: middle;
height: 70px;
width: 100%;
border-bottom: none;
font-size: small;
border-top: 8px solid;


}